@charset "UTF-8";
/* 
*** Variables
 */
/* 
*** Fonts
 */
@import url("https://use.typekit.net/gvd4mwd.css");
/* 
*** GLOBAL
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  outline: none !important;
}

html,
body {
  font-family: open-sans;
  overflow-x: hidden;
  font-size: 15px;
  word-break: break-word;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: niveau-grotesk;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}
h1.stylish {
  font-weight: 700;
  font-style: italic;
  font-size: 4.2rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}
h1.stylish > span {
  font-weight: inherit;
  font-style: inherit;
}
h1.main-heading {
  margin: 50px 0 15px 15px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

ol {
  list-style-type: decimal;
  padding-left: 25px;
}

p {
  margin: 8px 0 24px 0;
}

table {
  width: 100%;
}

.w-450 {
  width: 450px;
}

.form-row > label,
.form-row-50 > label {
  font-weight: 700;
  display: block;
  margin: 8px 0;
}

.form-row-50 {
  width: 50%;
}
.form-row-50 > label {
  width: 100%;
  margin: 8px 0;
}

.form-row {
  margin: 12px 0;
}
.form-row.radio label {
  margin-bottom: 0;
}

form button,
form input[type=submit] {
  margin: 6px 0 0 0;
}

#pw-err {
  display: none;
}

.radio-row {
  display: flex;
  align-items: center;
  margin: 6px 0;
}
.radio-row input[type=radio] {
  height: 20px;
  width: 20px;
}
.radio-row label {
  font-weight: 500;
  margin-left: 5px;
}

#parents-radio {
  display: none;
}

.required {
  color: red;
  font-weight: 900;
}

.bg-gray {
  background-color: #e4e4e4;
}

.mt-25px {
  margin-top: 25px;
}

.mt-15px {
  margin-top: 15px;
}

.p-15px {
  padding: 15px;
}

.pr-30px {
  padding-right: 30px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] {
  border: 1px solid #bbb;
  padding: 0 6px;
  height: 30px;
  width: 250px;
  border-radius: 5px;
}

select,
textarea {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 1px 12px;
}

.btn {
  display: inline-block;
  font-family: niveau-grotesk;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.top-space {
  margin-top: 150px;
}
.top-space > div.wrapper {
  padding-top: 75px;
}

p.server_msg,
.server-response {
  background: #009a54;
  color: #fff;
  padding: 8px 24px;
  border-radius: 5px;
  width: max-content;
  animation: serverMessage 0.9s;
  display: none;
  margin: 5px 0;
}

@keyframes serverMessage {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-250px) skew(25deg);
  }
  75% {
    opacity: 1;
    transform: translateX(15px) skew(-10deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* 
*** Header
 */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #151515;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 10;
  transition: transform 250ms ease-in-out;
}
header.small {
  transform: translateY(-40px);
}
header.small .header-content {
  transform: translateY(20px);
}
header.small .logo {
  transform: scale(0.5);
  background-color: transparent;
}
header .header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 250ms ease-in-out;
  pointer-events: none;
}
header .logo {
  user-select: none;
  transform: translateY(40px);
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
  background-color: #151515;
  border-radius: 50%;
  pointer-events: all;
}
header .logo:hover {
  cursor: pointer;
}
header .logo img {
  height: 250px;
  width: 250px;
  object-fit: scale-down;
  transform: scale(1.1);
}
header nav {
  pointer-events: all;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  margin: 0 12px;
  font-family: niveau-grotesk;
}
header nav ul li:last-of-type {
  margin-right: 0;
}
header nav ul li a {
  padding: 6px;
  color: #fff;
  font-size: 1.3em;
  border-bottom: 2px solid transparent;
}
header nav ul li a.active {
  border-color: #fff;
}

#user-register-form {
  display: none;
}

/* dwop dawn */
.dropdown {
  position: relative;
}
.dropdown i {
  color: #fff;
  margin-right: -5px;
  transition: transform 250ms ease-in-out;
}
.dropdown:hover i {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 1;
  background-color: #fff;
}
.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
}
.dropdown-content a:hover {
  background-color: #bb1835;
  color: white;
}
.dropdown-content a:first-of-type {
  margin-top: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* 
*** Hero section
 */
.hero-fold {
  background-image: url(../img/hero-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* Parallax */
  height: calc(100vh - 125px);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hero-content {
  padding-top: 130px;
  color: #fff;
}

.btn-primary {
  background-color: #00713e;
  color: white;
  padding: 6px 1.8rem;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: #004828;
}

.btn-secondary {
  background-color: #bb1835;
  color: white;
  padding: 6px 1.8rem;
}
.btn-secondary:hover {
  cursor: pointer;
  background-color: #610c1b;
}

.btn-tertiary {
  background-color: #c09257;
  color: white;
  padding: 6px 1.8rem;
}
.btn-tertiary:hover {
  cursor: pointer;
  background-color: #815d30;
}

/* 
*** News section
 */
/* slick */
.slick-container {
  width: 100%;
}

.slick-track {
  cursor: grab;
}
.slick-track:active {
  cursor: grabbing !important;
}

.news-container {
  margin: 20px 30px 0 0;
  height: 650px;
  width: 350px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 3px 10px #00000035;
  border-radius: 10px;
  padding: 30px;
  /* Slide header */
  /* Slide footer */
}
.news-container .slide-header {
  margin-bottom: 25px;
}
.news-container .slide-header h1 {
  font-size: 1.6rem;
  line-height: 2rem;
}
.news-container .slide-footer {
  padding-top: 8px;
  border-top: 1px solid #4e4e4e;
}
.news-container .slide-footer span {
  font-size: 0.9rem;
  font-style: italic;
}
.news-container .news-img {
  height: 150px;
  width: 100%;
  margin-bottom: 12px;
}
.news-container .news-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.news-container .read-time {
  background-color: #bb1835;
  color: white;
  padding: 6px 8px;
  width: max-content;
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 12px;
}

.slick-slide .news-container {
  margin: 15px;
}

.slick-initialized {
  margin-bottom: 15px;
}

.tbc {
  color: #3e3e3e;
}

.slick-next:before,
.slick-prev:before {
  transition: opacity 250ms ease-in-out;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0 !important;
}

.slick-prev:before {
  content: "";
  color: #bb1835;
  font-size: 60px;
  font-family: "FontAwesome";
}

.slick-next:before {
  content: "";
  color: #bb1835;
  font-size: 60px;
  font-family: "FontAwesome";
}

/* 
*** Gallery section
 */
.magical-gallery {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
}

.magical-gallery-item {
  height: 222px;
  width: 222px;
}

/* 
*** All news page
 */
/* .all-news {
    .news-container:nth-of-type(3) {
    margin-right: 0;
  }
} */
.year-heading {
  width: 100%;
  font-size: 1.8em;
  font-weight: 700;
  margin-top: 2.5rem;
}

/* 
*** All galleries page
 */
.gallery-container {
  margin: 20px 30px 0 0;
  width: 350px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 3px 10px #00000035;
  border-radius: 10px;
  padding: 30px;
}
.gallery-container .gallery-header {
  margin-bottom: 25px;
}
.gallery-container .gallery-header h1 {
  font-size: 1.6rem;
  line-height: 2rem;
}
.gallery-container .gallery-thumbnail {
  height: 250px;
  width: 100%;
  margin-bottom: 12px;
}
.gallery-container .gallery-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.gallery-container .num-of-images {
  background-color: #bb1835;
  color: white;
  padding: 6px 8px;
  width: max-content;
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 12px;
}

/* 
*** Sign up
 */
.calc-price input {
  border-right: none;
  border-radius: 5px 0 0 5px;
  background-color: #ddd;
}
.calc-price span {
  border: 1px solid #bbb;
  padding: 4px 6px;
  height: 30px;
  background-color: #ddd;
  border-left: none;
  border-radius: 0 5px 5px 0;
  margin-left: -5px;
}

/* 
*** Single news
 */
.parallax {
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  /* Parallax */
  background-size: 1140px;
}

.post-content {
  min-height: 200vh;
}

#back-to-membership {
  display: none;
}

/* 
*** Admin images
 */
/* Add collection */
#uploaded-files {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

#drop_file_zone {
  background-color: #eee;
  border: #999 5px dashed;
  width: 100%;
  max-width: 600px;
  min-width: 290px;
  min-height: 200px;
  /* width: 290px;
  height: 200px; */
  padding: 8px;
  font-size: 18px;
}

#drag_upload_file {
  width: 50%;
  margin: 0 auto;
}

#drag_upload_file p {
  text-align: center;
}

#drag_upload_file #selectfile {
  display: none;
}

#img-preview {
  display: flex;
  flex-wrap: wrap;
}
#img-preview .preview-container {
  height: 250px;
  width: 200px;
  word-break: break-all;
  border: 2px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  margin: 8px;
  transition: border-color 100ms ease-in-out;
}
#img-preview .preview-container:hover {
  cursor: pointer;
}
#img-preview .preview-container img {
  height: 175px;
  width: 200px;
  object-fit: cover;
  pointer-events: none;
}
#img-preview .preview-container p {
  margin: 5px;
  pointer-events: none;
}

/* 
*** Sign up Membership
 */
#member-details {
  display: none;
}

/* 
*** About us
 */
.about-section h1 {
  position: relative;
  overflow: hidden;
}
.about-section h1 span {
  position: absolute;
  top: -150px;
}

/* 
*** Laws
 */
ol.abc {
  counter-reset: list;
}
ol.abc li {
  list-style: none;
  margin: 8px 0;
}
ol.abc li::before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
  margin-left: -17px;
  font-weight: 600;
}

.law h2 {
  font-weight: 600;
}

.last-revision {
  font-style: italic;
}

/* 
*** Games
 */
.games .game {
  display: flex;
  box-shadow: 0px 3px 10px #00000035;
  border-radius: 10px;
  /* padding: 20px 30px; */
  margin-bottom: 30px;
  width: 100%;
  height: 330px;
  overflow: hidden;
}
.games .game:hover div:last-of-type img {
  transform: scale(1.05);
}
.games .game > div {
  width: 50%;
}
.games .game > div:first-of-type {
  padding: 20px 30px;
}
.games .game > div:last-of-type {
  height: 100%;
  overflow: hidden;
}
.games .game > div:last-of-type img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
  transition: transform 500ms ease-in-out;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #151515;
  height: 150px;
  color: #fff;
  margin-top: 50px;
}
footer p {
  margin: 0;
  padding: 0;
}
footer i {
  margin: 0 8px;
  font-size: 2rem;
}
footer .follow-us {
  font-style: italic;
}

/* 
*** Single gallery
 */
.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-images .gallery-content {
  height: 275px;
  width: 275px;
  margin-bottom: 15px;
}
.gallery-images .gallery-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 11;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.modal-slide {
  display: none;
  background-color: #000;
}
.modal-slide img {
  width: auto !important;
  max-height: 600px;
  margin: 0 auto;
  object-fit: cover;
}

.active-image {
  height: 600px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  mix-blend-mode: difference;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 
*** Leaderboards
 */
table.leaderboard td,
table.leaderboard th,
table.cashback-table td,
table.cashback-table th {
  border-top: 1px solid #ddd;
  /* border-bottom: 1px solid #ddd; */
  padding: 8px;
}
table.leaderboard tr:nth-child(even),
table.cashback-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table.leaderboard tr:hover,
table.cashback-table tr:hover {
  background-color: #ddd;
}
table.leaderboard th,
table.cashback-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #151515;
  color: white;
}

.privacyList {
  list-style-type: square;
}

/* 
*** Contact
 */
div.contact-form {
  width: 100%;
  max-width: 600px;
}
div.contact-form .form-row input,
div.contact-form .form-row textarea {
  display: block;
  width: 100%;
}
div.contact-form .form-row textarea {
  resize: vertical;
  min-height: 200px;
  padding: 8px;
}
div.contact-form tr:hover {
  background-color: #ddd;
}

.privacyList {
  list-style-type: square;
  padding-left: 50px;
}
.privacyList .privacyUO {
  font-weight: bold;
}

/* 
*** Profile page
 */
/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  /* background-color: #f1f1f1; */
  display: flex;
  justify-content: space-between;
}
.tab div {
  margin-bottom: -5px;
}
.tab .tablinks {
  border-radius: 5px 5px 0 0;
  margin: 0 5px 0 0;
}
.tab button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button.active {
  background-color: #ccc;
}
.tab button:hover {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* border: 1px solid #ccc; */
  border-top: none;
  /* &:first-of-type {
    display: block;
  } */
}

.tab-content-inner {
  padding: 20px;
}

.missing-payment {
  color: #bb1835;
}

.payment-history {
  border-left: 1px solid #ccc;
}

#payment-form input {
  height: 36px;
}
#payment-form .form-row {
  width: 100%;
}
#payment-form .form-row input {
  width: 100%;
}
#payment-form .form-row-50 input {
  width: 100%;
}
#payment-form .form-row-50:first-of-type {
  padding-right: 5px;
}
#payment-form .form-row-50:last-of-type {
  padding-left: 5px;
}

.profile-content {
  padding: 12px 0;
}

table.payment-history {
  border: none;
}
table.payment-history tr:nth-of-type(odd) {
  background-color: #e4e4e4;
}
table.payment-history tr td {
  padding: 6px 12px;
}

table.current-membership tr td:last-of-type {
  text-align: right;
}

#membership-details li {
  margin: 6px 0;
}

.admin-controls {
  display: flex;
}

/* 
*** Admin Modal
 */
#admin {
  /* The Modal (background) */
  /* Modal Content */
  /* The Close Button */
}
#admin .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
#admin .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
#admin .close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}
#admin .close:hover,
#admin .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
