@charset "UTF-8";
/* 
*** Variables
 */
/* 
*** GLOBAL
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  outline: none !important;
}

html,
body {
  overflow-x: hidden;
  font-size: 15px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

h1 {
  font-size: 2.5em;
}

.form-row > label {
  display: block;
  margin: 8px 0;
}

form {
  background-color: palevioletred;
}
form button,
form input[type=submit] {
  margin: 6px 0 0 0;
}

.form-row label {
  font-weight: 700;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
select,
textarea {
  border: 1px solid #333;
  padding: 0 6px;
  height: 24px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* 
*** Header
 */
header {
  width: 100%;
  background: #282a35;
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
header .logo {
  user-select: none;
}
header .logo:hover {
  cursor: pointer;
}
header .logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 8px;
}
header nav ul li:last-of-type {
  margin-right: 0;
}
header nav ul li a {
  padding: 6px 8px;
  color: #fff;
}

/* dwop dawn */
.dropdown {
  position: relative;
}
.dropdown i {
  color: #fff;
  margin-right: -5px;
  transition: transform 250ms ease-in-out;
}
.dropdown:hover i {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: brown;
  transform: translate(-80px, 5px);
  text-align: right;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 12px;
  z-index: 1;
}
.dropdown-content a {
  display: block;
  margin-top: 3px;
}
.dropdown-content a:first-of-type {
  margin-top: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* 
*** Hero section
 */
.hero-fold {
  background-image: url(https://c1.wallpaperflare.com/preview/837/948/57/dart-darts-the-success-of-the-the-purpose-of-the.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 125px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: #fff;
  mix-blend-mode: difference;
}

.btn-primary {
  background-color: #218838;
  color: white;
  padding: 6px 1.8rem;
}
.btn-primary:hover {
  background-color: #19672a;
}

/* 
*** News section
 */
/* slick */
.slick-container {
  width: 100%;
}

.slick-track {
  cursor: grab;
}
.slick-track:active {
  cursor: grabbing !important;
}

.news-container {
  margin: 20px 40px 0 0;
  height: 450px;
  width: 350px;
  display: inline-block;
  box-shadow: 0px 3px 10px #00000035;
  border-radius: 10px;
  padding: 12px 30px;
  /* Slide header */
}
.news-container .slide-header {
  margin-bottom: 10px;
}
.news-container .slide-header h1 {
  font-size: 1.6rem;
}
.news-container .read-time {
  background-color: #dc3545;
  color: white;
  padding: 6px 8px;
  width: max-content;
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.slick-slide .news-container {
  margin: 15px;
}

.all-news .news-container:nth-of-type(3) {
  margin-right: 0;
}

.slick-initialized {
  margin-bottom: 15px;
}

.tbc {
  color: #3e3e3e;
}

.slick-next:before,
.slick-prev:before {
  transition: opacity 250ms ease-in-out;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0 !important;
}

.slick-prev:before {
  content: "";
  color: #dc3545;
  font-size: 60px;
  font-family: "FontAwesome";
}

.slick-next:before {
  content: "";
  color: #dc3545;
  font-size: 60px;
  font-family: "FontAwesome";
}

/* 
*** Gallery section
 */
.magical-gallery {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
}

.magical-gallery-item {
  height: 228px;
  width: 228px;
}

/*# sourceMappingURL=style.css.map */
