@charset "UTF-8";
/* 
*** Variables
 */
/* 
*** GLOBAL
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  outline: none !important;
}

html,
body {
  overflow-x: hidden;
  font-size: 15px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

ol {
  list-style-type: decimal;
  padding-left: 25px;
}

p {
  margin: 8px 0 24px 0;
}

table {
  width: 100%;
}

.w-450 {
  width: 450px;
}

.form-row > label {
  display: block;
  margin: 8px 0;
}

.form-row-50 {
  width: 50%;
}
.form-row-50 > label {
  width: 100%;
  margin: 8px 0;
}

.form-row.radio label {
  margin-bottom: 0;
}

form {
  background-color: palevioletred;
}
form button,
form input[type=submit] {
  margin: 6px 0 0 0;
}

.form-row label,
.form-row-50 label {
  font-weight: 700;
}

.radio-row {
  display: flex;
  align-items: center;
  margin: 6px 0;
}
.radio-row input[type=radio] {
  height: 20px;
  width: 20px;
}
.radio-row label {
  font-weight: 500;
  margin-left: 5px;
}

#parents-radio {
  display: none;
}

.required {
  color: red;
  font-weight: 900;
}

.bg-gray {
  background-color: #e4e4e4;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
select,
textarea {
  border: 1px solid #333;
  padding: 0 6px;
  height: 24px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.top-space {
  margin-top: 150px;
}
.top-space > div.wrapper {
  padding-top: 75px;
}

/* 
*** Header
 */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0d1716;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  transition: transform 250ms ease-in-out;
}
header.small {
  transform: translateY(-40px);
}
header.small .header-content {
  transform: translateY(20px);
}
header.small .logo {
  transform: scale(0.5);
  background-color: transparent;
}
header .header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 250ms ease-in-out;
  pointer-events: none;
}
header .logo {
  user-select: none;
  transform: translateY(20px);
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
  background-color: #0d1716;
  border-radius: 50%;
  pointer-events: all;
}
header .logo:hover {
  cursor: pointer;
}
header .logo img {
  height: 200px;
}
header nav {
  pointer-events: all;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  margin: 0 8px;
}
header nav ul li:last-of-type {
  margin-right: 0;
}
header nav ul li a {
  padding: 6px 8px;
  color: #fff;
  font-size: 1.3em;
}

#get-membership {
  /* display: none; */
}

/* dwop dawn */
.dropdown {
  position: relative;
}
.dropdown i {
  color: #fff;
  margin-right: -5px;
  transition: transform 250ms ease-in-out;
}
.dropdown:hover i {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 1;
  background-color: #fff;
}
.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
}
.dropdown-content a:hover {
  background-color: #bb1835;
  color: white;
}
.dropdown-content a:first-of-type {
  margin-top: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* 
*** Hero section
 */
.hero-fold {
  background-image: url(../img/hero-img.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 125px);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: #fff;
}

.btn-primary {
  background-color: #00713e;
  color: white;
  padding: 6px 1.8rem;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: #004828;
}

.btn-secondary {
  background-color: #bb1835;
  color: white;
  padding: 6px 1.8rem;
}
.btn-secondary:hover {
  cursor: pointer;
  background-color: #610c1b;
}

/* 
*** News section
 */
/* slick */
.slick-container {
  width: 100%;
}

.slick-track {
  cursor: grab;
}
.slick-track:active {
  cursor: grabbing !important;
}

.news-container {
  margin: 20px 30px 0 0;
  height: 450px;
  width: 350px;
  display: inline-block;
  box-shadow: 0px 3px 10px #00000035;
  border-radius: 10px;
  padding: 12px 30px;
  /* Slide header */
}
.news-container .slide-header {
  margin-bottom: 10px;
}
.news-container .slide-header h1 {
  font-size: 1.6rem;
}
.news-container .read-time {
  background-color: #bb1835;
  color: white;
  padding: 6px 8px;
  width: max-content;
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.slick-slide .news-container {
  margin: 15px;
}

.slick-initialized {
  margin-bottom: 15px;
}

.tbc {
  color: #3e3e3e;
}

.slick-next:before,
.slick-prev:before {
  transition: opacity 250ms ease-in-out;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0 !important;
}

.slick-prev:before {
  content: "";
  color: #bb1835;
  font-size: 60px;
  font-family: "FontAwesome";
}

.slick-next:before {
  content: "";
  color: #bb1835;
  font-size: 60px;
  font-family: "FontAwesome";
}

/* 
*** Gallery section
 */
.magical-gallery {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
}

.magical-gallery-item {
  height: 228px;
  width: 228px;
}

/* 
*** All news page
 */
.all-news {
  /*   .news-container:nth-of-type(3) {
    margin-right: 0;
  } */
}

.news-year-heading {
  width: 100%;
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 2.5rem;
}

/* 
*** Sign up
 */
.calc-price input {
  border-right: none;
  border-radius: 5px 0 0 5px;
  background-color: #ddd;
}
.calc-price span {
  background-color: #ddd;
  border: 1px solid #333;
  padding: 1px 6px;
  border-left: none;
  border-radius: 0 5px 5px 0;
  margin-left: -5px;
}

/* 
*** Admin images
 */
/* Add collection */
#uploaded-files {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

#drop_file_zone {
  background-color: #eee;
  border: #999 5px dashed;
  width: 100%;
  max-width: 600px;
  min-width: 290px;
  min-height: 200px;
  /* width: 290px;
  height: 200px; */
  padding: 8px;
  font-size: 18px;
}

#drag_upload_file {
  width: 50%;
  margin: 0 auto;
}

#drag_upload_file p {
  text-align: center;
}

#drag_upload_file #selectfile {
  display: none;
}

#img-preview {
  display: flex;
  flex-wrap: wrap;
}
#img-preview .preview-container {
  height: 250px;
  width: 200px;
  word-break: break-all;
  border: 2px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  margin: 8px;
  transition: border-color 100ms ease-in-out;
}
#img-preview .preview-container:hover {
  cursor: pointer;
}
#img-preview .preview-container img {
  height: 175px;
  width: 200px;
  object-fit: cover;
  pointer-events: none;
}
#img-preview .preview-container p {
  margin: 5px;
  pointer-events: none;
}

/* 
*** Sign up Membership
 */
#member-details {
  display: none;
}

/* 
*** About us
 */
.about-section h1 {
  position: relative;
  overflow: hidden;
}
.about-section h1 span {
  position: absolute;
  top: -150px;
}

/* 
*** Laws
 */
ol.abc {
  counter-reset: list;
}
ol.abc li {
  list-style: none;
}
ol.abc li::before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}

.law h2 {
  font-weight: 600;
}

.last-revision {
  font-style: italic;
}

/* 
*** Games
 */
.games .game {
  display: flex;
  box-shadow: 0px 3px 10px #00000035;
  border-radius: 10px;
  /* padding: 20px 30px; */
  margin-bottom: 30px;
  width: 100%;
  height: 330px;
}
.games .game h1 {
  font-size: 2em;
}
.games .game div {
  width: 50%;
}
.games .game div:first-of-type {
  padding: 20px 30px;
}
.games .game div:last-of-type {
  height: 100%;
}
.games .game div img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0d1716;
  height: 150px;
  color: #fff;
  margin-top: 50px;
}
footer p {
  margin: 0;
  padding: 0;
}
footer i {
  margin: 0 8px;
  font-size: 2rem;
}
footer .follow-us {
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
